# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/docs/format_config_EN.md
[*.lua]
quote_style = double
call_arg_parentheses = remove_table_only
max_line_length = 180
trailing_table_separator = smart
space_before_function_call_single_arg = false
break_all_list_when_line_exceed = true

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[Makefile*]
indent_style = tab
indent_size = 8

[Makefile.def]
indent_style = tab
indent_size = 4

[*.{js,css,scss,sass,html,handlebars,tpl}]
indent_style = space
indent_size = 2
