[submodule "koreader-base"]
	path = base
	url = https://github.com/koreader/koreader-base.git
[submodule "platform/android/luajit-launcher"]
	path = platform/android/luajit-launcher
	url = https://github.com/koreader/android-luajit-launcher.git
[submodule "test"]
	path = test
	url = https://github.com/koreader/test-data.git
	shallow = true
[submodule "resources/fonts"]
	path = resources/fonts
	url = https://github.com/koreader/koreader-fonts.git
	shallow = true
[submodule "l10n"]
	path = l10n
	url = https://github.com/koreader/koreader-translations.git
	shallow = true
