[submodule "mupdf"]
	path = mupdf
	url = git://git.ghostscript.com/mupdf.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = git://github.com/keplerproject/luafilesystem.git
[submodule "djvulibre"]
	path = djvulibre
	url = git://djvu.git.sourceforge.net/gitroot/djvu/djvulibre.git
[submodule "kpvcrlib/crengine"]
	path = kpvcrlib/crengine
	url = git://crengine.git.sourceforge.net/gitroot/crengine/crengine
