.DS_*
._*
*.AppImage
*.directory
*.swp
*.swo
*.un~
cscope.*
*.orig
lua
lua-*
.reader.kpdfview.lua
*.kdev4
.kdev4/*
.vimrc
.vscode/*
*.o
tags
test/*
*.tar
*.log
*.sdr/
bin/
install/
spec/unit/data
doc/html
git-rev
git-rev-base
emu
luacov.stats.out
trace-out.txt
koreader-*

l10n/*
!l10n/Makefile
!l10n/README.md
i18n

/.cproject
/.project
