*.swp
*.swo
cscope.*
*.orig
lua
lua-*
.reader.kpdfview.lua
.vimrc
*.o
tags
test/*.sdr
*.tar
*.log
spec/unit/data
doc/html

emu

koreader-*.zip
koreader-*.apk
koreader-*.tar.gz
koreader-*.targz
koreader-*.click

l10n/*
!l10n/Makefile
!l10n/README.md
i18n

/.cproject
/.project

koreader-android-arm-linux-androideabi
koreader-kindle-legacy-arm-kindle-linux-gnueabi
koreader-kindle-arm-linux-gnueabi
koreader-kobo-arm-linux-gnueabihf*
koreader-emulator-i686-w64-mingw32
koreader-emulator-x86_64-linux-gnu
koreader-emulator-x86_64-pc-linux-gnu
koreader-emulator-x86_64-apple-darwin*
koreader-pocketbook-arm-obreey-linux-gnueabi
koreader-ubuntu-touch-arm-linux-gnueabihf
