[Desktop Entry]
Name=Koreader
Comment=Koreader for Ubuntu touch
Exec=koreader.sh
Icon=koreader.png
Terminal=false
Type=Application
MimeType=application/pdf;application/epub+zip
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait
Categories=Graphics;
