[Desktop Entry]
Name=KOReader
Comment=KOReader is a document viewer
Exec=koreader %u
Icon=koreader
Terminal=false
Type=Application
Categories=Graphics;
MimeType=application/pdf;application/x-cbz;application/epub+zip;image/vnd.djvu;text/plain;
# Otherwise assumed incompatible with some mobile OSes
# See <https://puri.sm/posts/specify-form-factors-in-your-librem-5-apps/>
# and <https://github.com/koreader/koreader/issues/11118>
X-Purism-FormFactor=Workstation;Mobile;
