<p><b>Leonardo di ser Piero da Vinci</b> (Italian: [leoˈnardo di
ˌsɛr ˈpjɛːro da (v)ˈvintʃi]; 14/15 April 1452 – 2
May 1519), known as Leonardo da Vinci, was an Italian polymath of the
Renaissance whose areas of interest included «invention, drawing,
painting, sculpture, architecture, science, music, mathematics,
engineering, literature, anatomy, geology, astronomy, botany,
paleontology, and cartography». He has been variously called the
father of palaeontology, ichnology, and architecture, and is widely
considered one of the greatest painters of all time (despite perhaps
only 15 of his paintings having survived).</p>

<p>Leonardo is renowned primarily as a painter. The <i>Mona Lisa</i>
is the most famous of his works <a href="nopage.html#f34"><sup>34</sup></a>
and the most popular portrait ever made. <i>The Last Supper</i>
is the most reproduced religious painting of all
time<a href=nopage.html#f35"><sup>35</sup></a> and his
Vitruvian Man drawing is regarded as a cultural icon as
well<a href="nopage.html#f36"><sup>36</sup></a>. Salvator Mundi was
sold for a world record $450.3 million at a Christie's auction
in New York, 15 November 2017, the <a href="nolink">highest price</a>
ever paid for a work of art. <i>Leonardo's paintings and preparatory
drawings—together with his notebooks, which contain sketches,
scientific diagrams, and his thoughts on the nature of
painting—compose a contribution to later generations of artists
rivalled only by that of his contemporary Michelangelo.</i></p>
<p>&nbsp;</p>

<div>Above is some random text to appreciate lines height, and how
much height or pages the same text occupy with each font &mdash;
with bits in bold and italic, numbers and footnote links.</div>
<div>&nbsp;</div>

<div>These are some numbers and possibly ambiguous letters and symbols:<br/>
427, 809, 1635, 1IlLi, oO0, _-=+*#$~,;:!()[]{} "'«»</div>
<div>&nbsp;</div>

<div>Next are some bits to appreciate this font's OpenType features:<br/>
This might show some ligatures: afflicting filling.<br/>
<span style="font-variant: small-caps ">This line might be in Small Caps</span>.<br/>
Lining numbers <span style="font-variant: lining-nums">123456</span> vs
<span style="font-variant: oldstyle-nums">123456</span> oldstyle numbers.
</div>
<div>&nbsp;</div>

<div>Finally, some words in various scripts to see how the baseline
and height of this font and those of the fallback fonts compare: 
a few classic greek words are νους, intelligence, ειδος, form,
and λογος, which have nothing to do with the following text
in simplified chinese <span lang="zh-CN">关门吃及刃</span>,
and the same text in traditional chinese <span lang="zh-Hant">关门吃及刃</span>
or in japanese <span lang="ja">关门吃及刃</span>.
Nothing in common either with these RTL and BiDi bits
in hebrew סֶּלַע ססס
and in arabic الرحيم (123 456) الْحَمْدُ and وال (بااتي: abcd) من.
This should be enough to appreciate this font.</div>
<div>&nbsp;</div>

<div>This is some sample content. You can have this document generated
with some text of yours in your preferred language(s) by creating and
adding it to a file named:<br/>
<code>koreader/settings/font-test-sample.html</code>
</div>
