[Unit]
Description=KOReader
StartLimitIntervalSec=600
StartLimitBurst=4
After=home.mount
After=xochitl.service
Conflicts=xochitl.service
OnFailure=xochitl.service

[Service]
ExecStart=/home/root/koreader/koreader.sh
ExecStopPost=/bin/false
Restart=no

[Install]
WantedBy=multi-user.target


